include ../common/section-title

section.how-works.section.pt
    div.how-works__inner.section__inner.container
        +section-title('Как работает решение')

        ul.how-works__list
            each item in howWorks
                li(class=item.isAccent ? 'is-accent' : '').how-works__item.position-relative.flex.flex-column
                    div.how-works__icon.position-absolute.flex-center
                        img(src=item.icon)

                    div.how-works__top
                        p.how-works__item-title.h4.text-w700= item.title
                        p.how-works__item-subtitle.h5.text-w700= item.subtitle
                        p.how-works__item-text= item.text

                    a(href="#").how-works__link.flex-center Подробнее