extends ../components/layouts/base.pug
include ../components/common/section-title
include ../components/common/video-btn

block title
    | О продукте

block hero
    +hero('/images/about/banner-bg.png')
        block banner-content
            div.banner.container
                div.banner__inner.text-w700
                    p.banner__title.h2.about__title Российская платформа автоматизации подготовки данных из рабочих чертежей для формирования календарно-сетевой модели строительства.

                    div.banner__btn-bar.flex
                        a(href="#").banner__btn.dark.h6.text-w700 Получить демонстрацию
                        a(href="#").banner__btn.accent.h6.text-w700 Скачать презентацию


block content
    include ../components/blocks/how-works

    each item, index in modules
        section(class=index < 2 ? 'pt' : '').module.section
            div.module__inner.section__inner.container
                +section-title(`Модуль ${index + 1}`)

                div(class=index % 2 === 0 ? 'is-left' : 'is-right').module__content
                    div.module__left.flex.flex-column
                        div.module__top
                            p.module__title.h4.text-w700= item.title
                            p.module__text= item.text
                            p.module__about.h6.text-w700 Разработано инженерами для инженеров

                        a(href="#").tag.flex-center Статья

                    div.module__img-container.img-container.video-player.position-relative
                        video(src="/videos/video.mp4" playsinline).js-video-player

                        +video-btn(index)
