svg(
    width="39"
    height="33"
    viewBox="0 0 39 33"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
)
    path(
        d="M35.2177 0.283241C35.2177 0.283241 38.7792 -1.10551 38.4824 2.26717C38.3835 3.65594 37.4931 8.51657 36.8006 13.774L34.4262 29.3479C34.4262 29.3479 34.2284 31.6294 32.4476 32.0262C30.6668 32.423 27.9957 30.6375 27.501 30.2406C27.1053 29.9431 20.0812 25.4792 17.6079 23.2969C16.9153 22.7017 16.1239 21.5113 17.7068 20.1226L28.0946 10.203C29.2818 9.01258 30.469 6.23507 25.5224 9.60777L11.672 19.0315C11.672 19.0315 10.0891 20.0234 7.12122 19.1306L0.690636 17.1467C0.690636 17.1467 -1.68372 15.6588 2.37247 14.1707C12.2656 9.50849 24.4342 4.74705 35.2177 0.283241Z"
        fill="white"
    )
