svg(
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none" xmlns="http://www.w3.org/2000/svg"
)
    path(
        d="M15.4448 0.0225764C5.91261 0.522376 -0.379746 8.02395 0.0178105 17.4835C0.191456 21.624 1.85023 25.1868 2.24321 29.1164C2.34374 30.1343 2.05129 31.3907 3.22111 31.8355C4.66054 32.3811 6.86766 31.4641 8.07404 30.625C8.48531 30.3453 8.87829 30.0197 9.17989 29.6162C10.4274 30.4461 11.6109 31.2486 13.096 31.6062C19.6352 33.179 26.8003 29.5795 29.9853 23.7974C35.9715 12.9348 27.8787 -0.628538 15.4448 0.0225764ZM11.7434 22.6924C11.2271 23.0959 10.729 23.6461 10.1578 23.9625C9.33068 24.4073 9.07479 23.9442 8.76405 23.2105C7.78615 20.8766 7.66734 16.9011 8.23855 14.4571C9.00624 11.1328 11.5698 8.20736 15.093 7.89556C18.6573 7.57917 21.9657 9.39496 23.4599 12.6735C26.7683 19.9687 18.3008 27.1722 11.7434 22.697V22.6924Z"
        fill="white"
    )
