svg(
    width="20"
    height="20"
    viewBox="0 0 16 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
)
    path(
        d="M7.72241 0.0112882C2.95631 0.261188 -0.189873 4.01197 0.00890526 8.74173C0.0957279 10.812 0.925113 12.5934 1.12161 14.5582C1.17187 15.0672 1.02564 15.6954 1.61056 15.9177C2.33027 16.1906 3.43383 15.732 4.03702 15.3125C4.24265 15.1726 4.43915 15.0099 4.58994 14.8081C5.2137 15.2231 5.80546 15.6243 6.54802 15.8031C9.81758 16.5895 13.4002 14.7898 14.9927 11.8987C17.9858 6.46741 13.9394 -0.314269 7.72241 0.0112882ZM5.87172 11.3462C5.61354 11.5479 5.36449 11.8231 5.07889 11.9813C4.66534 12.2036 4.53739 11.9721 4.38203 11.6053C3.89308 10.4383 3.83367 8.45056 4.11927 7.22857C4.50312 5.5664 5.7849 4.10368 7.54648 3.94778C9.32863 3.78959 10.9828 4.69748 11.73 6.33673C13.3842 9.98435 9.15042 13.5861 5.87172 11.3485V11.3462Z"
        fill="white"
    )